/* CSS declarations go here */
body { 
    padding-top: 70px; 
    background: url('/img/bg.jpg');
}

.expandWidth + .popover {
	width: 270px;
}
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.input-group { margin-bottom:10px; }
.separator { border-right: 1px solid #dfdfe0; }
.facebook { background-color:#354E84;color:#fff; }
.twitter { background-color:#00A5E3;color:#fff; }
.facebook:hover,.twitter:hover { color:#fff;}

.panel editable-click.editable-disabled, 
.panel a.editable-click.editable-disabled, 
.panel a.editable-click.editable-disabled:hover {
	 color: #c8c8c8;
   cursor: default;
   border-bottom: none;
}

#newBillForm .form-group{
	margin-bottom: 3px;
}

.div-trans{
	background-color: rgba (0, 0, 0, 0.4);
}

.color-div{
	color: #ffffff;
	padding: 10px;
	border-radius:3px;
	margin-bottom: 5px;
}
.div-primary{
	background-color: #7a8288;
}
.div-success{
	background-color: #62c462;
}
.div-info{
	background-color: #5bc0de;
}
.div-warning{
	background-color: #f89406;
}
.div-danger{
	background-color: #ee5f5b;
}
.div-white{
	background-color: #ffffff;
}
